<footer class="footer bg-color text-white ">

  <div class="container  ">
<div class="row g-3 text-center pt-5">
  <div class="col-md-4"  >
    <h3>LOCATION</h3>
    <p >2215 John Daniel Drive</p>
    <p class="mt-2">Clark, MO 65243</p>
  </div>
  <div  class="col-md-4">
    <h3>AROUND THE WEB</h3>
    <ul class="list-unstyled d-flex justify-content-center">
      <li> <i class="fab fa-facebook-f mt-2"></i></li>
      <li> <i class="fab fa-twitter mt-2"></i></li>
      <li> <i class="fab fa-linkedin-in mt-2"></i></li>
      <li> <i class="fab fa-dribbble mt-2"></i></li>

    </ul>
    <!-- <div class="row">
      <div class="col-2">
        <i class="fab fa-facebook-f"></i>
      </div>
      <div class="col-2">
        <i class="fab fa-twitter"></i>
      </div>
      <div class="col-2">
        <i class="fab fa-linkedin-in"></i>
      </div>
      <div class="col-2">
        <i class="fab fa-dribbble"></i>
      </div>
      <div class="col-2">
        <i class="fab fa-google-plus-g"></i>
      </div>
    </div> -->
  </div>
  <div  class="col-md-4">
    <h3>ABOUT FREELANCER</h3>
    <p >Freelance is a free to use, licensed Bootstrap theme created by Route</p>
  </div>

</div>

  </div>
</footer>
<div class="copyright text-center py-3 algin-tiem-center z-3">
  <p class="m-0">Copyright © Your Website 2021</p>

</div>
<!--  -->
