<section class="about  vh-90 d-flex flex-column justify-content-center align-items-center">



<div class="container text-center ">
    <app-star [titleStar]="'about component'" [customColor]="'#fff'"></app-star>
  <div class="row g-4 text-white fw-semibold pt-5">
    <div class="col-md-6">
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

    </div>
    <div class="col-md-6">
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>

    </div>
  </div>
</div>



</section>
